@media only screen and (min-width: 600px) {
    div .resume{
        height: 100%;
        padding: 2%;
    }

    .resume-title {
        text-align: center;
    }

    .resume-professional-history {
        text-align: center;
    }

    .section {
        padding-bottom: 5%;
    }
    
    .para {
        margin-top: 2%;
    }
}