body{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.row {
    background-color: black;
    height: 645px;
    display: flex;
    margin: 5%;
}

.col {
    /* background-color: orange ; */
    flex: 50%;
    height: 100%;
}

.image1 img {
    max-width: 100%;
    object-fit: cover;
    height: 645px;
    margin-left: -15px; 
}

.home-page{
    align-items: center;
    text-align: center;
    margin-right: 5%;
    margin-top: 20%;
}

.quote{
    text-align: center;
    padding-top: 20%;
}