.about-me{
    text-align: center;   
}

.working-img img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: 5%;
}

.about-me .para {
    margin-left: 5%;
    margin-right: 5%;
}

.skills {
    display: flex;
    align-content: center;
    padding-left: 15%;
    padding-top: 10%;
}

.box{
    background-color: bisque;
    height: 40px;
    width: 100px;
    margin: 20px;
}