body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fixed-header, .fixed-footer{
  width: 100%;
  position: relative;        
  padding: 10px 0;
  color: #fff;
}
.fixed-header{
  margin-left: 2%;
  font-weight: bold;
  top: 0;
}
.fixed-footer{
  text-align: center;
  bottom: 0;
}
